*{ margin: 0; padding: 0; }
ul{ list-style: none; }
a{ text-decoration: none; }

#wrap{ width: 100%; }
.center{ width: 1920px; margin: 0 auto; position: relative; }

#header{ height: 80px; }
#header .center{ height: 80px; background-color: #3f3f3f; }
#header .center h1{ position: absolute; top: 10px; left: 10px; }
#header .center #gnb{ width: 600px; height: 60px; position: absolute; top: 50%; transform: translateY(-50%); right: 10px; }
#header .center #gnb li{ width: 25%; height: 60px; float: left; }
#header .center #gnb li a{ display: block; width: 100%; height: 100%; text-align: center; line-height: 60px; font-size: 20px; font-weight: 900; color: #fff; }
#header .center #gnb li a:hover{ color: #fff100; }


#footer{ height: 80px; }
#footer .center{ height: 80px; background-color: #3f3f3f; }
#footer .center address{ font-style: normal; color: #fff; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }